@using TravelLess.DataManagers;
@using TravelLess.Data;
@page "/flights"
<div>
    <div>
        <h2 class="title">Flight Finder</h2>
    </div>

    <div class="horiz-div">
        <div>
            <label for="from">From:</label>
            <input id="from" title="From" placeholder="Departure" @bind="from" />
        </div>

        <div>
            <label for="to">To:</label>
            <input id="to" title="To" placeholder="Destination" @bind="to" />
        </div>
        <div>
            <label for="day">Departure Day:</label>
            <input id="day" title="Departure Day" placeholder="Any" @bind="day" />
        </div>

        <button style="color:white; background-color:blue" @onclick="FindFlights">Find Flights </button>
    </div>
    <p class="error">@errorText</p>
</div>
<div>
    <h2>Found Flights</h2>
    @if (foundFlights.Count == 0)
    {
        <div>
            <p>Loading...</p>
        </div>
    }
    else
    {
        <table>
            <tr>
                <th>Code</th>
                <th>Airline</th>
                <th>From</th>
                <th>To</th>
                <th>Day of Departure</th>
                <th>Time of Departure</th>
                <th>Price</th>
                <th>Capacity</th>
                <th>Reserve</th>
            </tr>

            @foreach (Flight flight in foundFlights)
            {
                <tr>
                    <td>@flight.Code</td>
                    <td>@flight.Airline</td>
                    <td>@flight.FromAirport</td>
                    <td>@flight.ToAirport</td>
                    <td>@flight.DayofWeek</td>
                    <td>@flight.DepartureTime</td>
                    <td>@flight.Price</td>
                    <td>@flight.Capacity</td>
                    <td>
                        @if (flight.Capacity > 0)
                        {
                            <button @onclick="@(() => OpenDialog(flight))">Reserve</button>
                        }
                    </td>
                </tr>
            }
        </table>
    }
</div>
<p>Loaded Flights: @foundFlights.Count</p>

@if (showDialog)
{
    <div class="dialog-background">
        <dialog open>
            <h2>Reservation Information</h2>
            <label for="name2">Traveller Name:</label>
            <input id="name2" placeholder="Name" @bind="travellerName" /><br />
            <label for="citizen">Citizenship:</label>
            <input id="citizen" placeholder="Citizenship" @bind="citizenship" /><br />
            <div class="center">
                <button @onclick="ReserveFlight">Create</button>
            </div>
        </dialog>
    </div>
}


@code {
    // Search Params
    string errorText = "";
    string from = "";
    string to = "";
    string day = "";

    // Reservation Creating
    string travellerName = "";
    string citizenship = "";
    Flight selectedFlight = null;
    bool showDialog = false;

    List<Flight> foundFlights = new List<Flight>();

    FlightManager manager = new();
    ReservationManager reservationManager = new();

    protected override async Task OnInitializedAsync()
    {
        foundFlights = manager.Flights;
    }

    void FindFlights()
    {
        foundFlights = manager.FindFlight(from, to, day);
    }

    void OpenDialog(Flight flight)
    {
        travellerName = "";
        citizenship = "";
        selectedFlight = flight;
        showDialog = true;
    }

    void ReserveFlight()
    {
        if (travellerName != "" && citizenship != "")
        {
            showDialog = false;
            reservationManager.CreateReservation(selectedFlight, travellerName, citizenship);
        }
    }
}
