@using TravelLess.Data;
@using TravelLess.DataManagers;
@page "/reservations"

<h2>Reservations</h2>

<div class="Container">
    <div class="search">
        <div>
            <label for="code">Reservation Code:</label>
            <input id="code" placeholder="Reservation Code" />
        </div>
        <div>
            <label for="line">Airline:</label>
            <input id="line" placeholder="Airline" />
        </div>
        <div>
            <label for="name">Traveller Name:</label>
            <input id="name" placeholder="Traveller Name" />
        </div>
        <button style="">Search</button>
    </div>
    <h2>Found Reservations</h2>
    <div>
        @if (foundReservations.Count == 0)
        {
            <div>
                <p>Loading...</p>
            </div>
        }
        else
        {
            <table>
                <tr>
                    <th>Code</th>
                    <th>Flight Code</th>
                    <th>Airline</th>
                    <th>Name</th>
                    <th>Citizenship</th>
                    <th>Cost</th>
                    <th>Active</th>
                    <th>Update</th>
                </tr>

                @foreach (Reservation res in foundReservations)
                {
                    <tr>
                        <td>@res.Code</td>
                        <td>@res.FlightCode</td>
                        <td>@res.Airline</td>
                        <td>@res.Name</td>
                        <td>@res.Citizenship</td>
                        <td>@res.Cost</td>
                        <td>@res.Active</td>
                        <td>
                                <button>Update</button>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

@code {
    List<Reservation> foundReservations = new List<Reservation>();

    ReservationManager manager = new();

    protected override async Task OnInitializedAsync()
    {
        foundReservations = manager.Reservations;
    }

}
